{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photojournal</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style/style.css">

</head>
<body>
        <nav>
            <div class="navbar">
                <ul>
                    <li>
                        <h3>PhotoJournal</h3>
                    </li>
                    <li>
                        {% if user.profile.userPhoto %}
                            <img src="/{{user.profile.userPhoto}}" alt="" width="50" height="50">
                        {% else %}
                            <img src="https://scontent.frix7-1.fna.fbcdn.net/v/t31.18172-8/965425_128973217302546_416782933_o.png?_nc_cat=106&ccb=1-5&_nc_sid=e3f864&_nc_ohc=ByzXP3RoKj4AX_6kAZC&_nc_ht=scontent.frix7-1.fna&oh=00_AT9G3B-5Kdb75QCYbYahcjwpdvda9Y3AoIXBHCgnNn7yTA&oe=6269A10A" alt="" width="50" height="50">
                        {% endif %}
                        {{ user.get_username }}
                    </li>
                    <li>
                        <p>
                            {% get_current_language as LANGUAGE_CODE %}

                            <a href="/{{ LANGUAGE_CODE }}/"> {% trans 'blogs' %} </a>
                        </p>

                    </li>
                    <li>
                        <p>
                            <a href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                        </p>
                    </li>
                </ul>
            </div>
        </nav>

        <footer>
            <div class="foo">
                <form  method="post" enctype="multipart/form-data">
                    {% csrf_token%}
                    {{form.media}}
                    {{form.as_p}}
                    <input type="submit" value="{% trans 'add' %}">
                </form>
            </div>
        </footer>

</body>
</html>
