{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        {{ user.get_username }}
        {% if user.profile.userPhoto %}
            <img src="{{user.profile.userPhoto}}" alt="" width="50" height="50">
        {% else %}
            <img src="https://scontent.frix7-1.fna.fbcdn.net/v/t31.18172-8/965425_128973217302546_416782933_o.png?_nc_cat=106&ccb=1-5&_nc_sid=e3f864&_nc_ohc=ByzXP3RoKj4AX_6kAZC&_nc_ht=scontent.frix7-1.fna&oh=00_AT9G3B-5Kdb75QCYbYahcjwpdvda9Y3AoIXBHCgnNn7yTA&oe=6269A10A" alt="" width="50" height="50">
        {% endif %}
        <a href="{% url 'blogs' user.get_username  %}"> blogs </a>
        <a href="{% url 'add'%}"> add photo</a>
        <a href="{% url 'profile' us.slug %}">profile</a>
        <a href="{% url 'logout' %}">logout</a>
        <p>sub: {{us.sub.count}}</p>
        {% for blog in blogs %}

            <p>
                <img src="{{blog.photo.url}}" alt="фото" srcset="" width="300" height="300">
            </p>
            <a href="{% url 'blog' blog.slug %}">link</a>
        {% endfor %}
    {% else %}
         <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="login">
        </form>
        <a href="{% url 'register' %}">register</a>
        {% for blog in blogs %}
            <p>
                <img src="{{blog.photo.url}}" alt="фото" srcset="" width="300" height="300">
            </p>

        {% endfor %}

    {% endif %}


</body>
</html>
