body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;

}

.navbar {

    margin: 0;
    background-color: rgba(var(--b3f,250,250,250),1);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    box-shadow: 0 0 2px 5px rgba(149, 160, 163, 0.5);
}

.navbar img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #ddd;
}

.navbar ul {
    margin: 0 auto;
    width: 70%;
    justify-content: space-around;
    display: flex;
    list-style-type: none;

}

.navbar a {
    text-decoration:none;
}

.navbar li {
    margin:  10px 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Source Serif Pro', serif;

}
.navbar h3 {
    font-size: 700;
    color: rgb(29, 51, 51);
}
.navbar a {
    color: rgb(43, 58, 58);
}

.navbar form {
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin: 0 auto;
}

.navbar .login {
    width: 220px;
    height: 22px;
    margin-top: 35px;
    margin-left: 20px;
}

.navbar .reg {
    font-size: 20px;
}

.reg:hover {
    text-decoration:solid;
    color: black;
    border-radius: 5px;
    background-color: rgb(243, 242, 242);

}

.navbar li:not(:first-child):hover {
    text-decoration:solid;
    color: black;
    border-radius: 5px;
    background-color: rgb(243, 242, 242);
    box-shadow: 0 0 2px 5px rgba(220, 224, 224, 0.938);
}

footer {
    width: 70%;
    margin:  0 auto;
}

.elem {
    width: 33%;
}
.foo {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    flex-wrap: wrap;
    background-color: rgba(var(--b3f,250,250,250),1);
}

.foo img {
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 2px 5px rgba(189, 194, 194, 0.719);
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 1400px) {
    .elem {
      width: 40%;
    }
}


@media screen and (max-width: 950px) {
    .elem {
      width: 80%;
    }
}